extends ../layout


block content
    section.login
      h1 Spotify web App
      div(class='columns')
      section(class='login column is-half is-offset-one-quarter')
        h2(class=middle__header) Login
        form(method='POST', action='/login')
          div(class='field')
            label(class='label is-small') Email
            div(class='control')
              input(class='input is-small is-rounded' name='email', type='email', placeholder='email', required='')
          div(class='field')    
            label(class='label is-small') Password
            div(class='control')
              input(class='input is-small is-rounded' name='password', type='password', placeholder='password', required='')
          div(class='login__buttons')
            button(class='button is-dark is-small is-rounded' type='submit') Login
          if feedback
            +feedback(feedback, 'error')
          | Go 
          a(href='/') Home
          |  or 
          a(href='/register') Register