extends ../layout

include ../feedback/index

block content
    section.home
      | Welcome, ${user.name}!
      | ${feedback ? `
      section.feedback.feedback--error
        | ${feedback}
      | ` : ''}
      form(action='/logout', method='post')
        button(type='submit') Logout